//colors
$main-teal: #8EC5C5;
$dark-gray: #2d2d2d;
$light-gray: #5b5b5b;
$white: #FFF;
//font weight
$font-light: 300;
$font-normal: 400;
$font-bold: 700;
$body-font-family: 'Open Sans', sans-serif;

@import "http://fonts.googleapis.com/css?family=Open+Sans:400,300,700.css";
@import "partials/settings";
@import "../bower_components/foundation/scss/foundation.scss";

@mixin border-radius($radius: 10px){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
header#pageHeader {
  padding: 50px 0 0;
  background-color: $main-teal;
  background-image: url('/assets/header_bg.png');
  //position: relative;
  & .logoImg {
    width: 160px;
    height: 80px;
    margin: 0 auto;
    background-image: url('/assets/logo.png');
    background-repeat: no-repeat;
  }
  & h1.pageTitle{
    font-size: 28px;
    font-weight: $font-light;
    text-align: center;
    & span.bold{
      font-weight: $font-bold;
    }
  }
 & .row {
    .contain-to-grid {
      margin-bottom: -32px;
      // position: absolute;
      // bottom: -20px;
      @include border-radius();
      nav.top-bar {
      @include border-radius();
        section.top-bar-section {
          text-align: center;
          ul {
            @media #{$medium-up} {
              margin: 0 auto;
              display: inline-block;
            }
            li {
              margin-right: 10px;
              &.active a{
                color: $white;
                font-weight: $font-bold;
              }
              a {
                color: $main-teal;
              }
            }
          }
        }
      }
    }
  }
}
 // & .row {
 //    .contain-to-grid {
 //      margin-bottom: -32px;

.content {
  padding-top: 50px;
  @include border-radius();

  .row {
    @include border-radius();
    background-color: $main-teal;
    margin-bottom: -52px;

    .hero_text{
      font-size: 23px;
      font-weight: $font-light;
      padding: 25px; 
    }

    & span.bold_new{
      font-weight: $font-bold;
    }
  }
  
  .black_ufo{
    position: relative;

    .ufoimg {
      width: 300px;
      height: 180px;
      margin: 0 auto;
      background-image: url('/assets/ship.png');
      background-repeat: no-repeat;
      position: absolute;
      margin-top: -10px;
    }

    .button{
       background-color: $light-gray;
       width: 285px;
       height: 60px;
       font-weight: $font-light;
       font-size: 18px;
       border-bottom: 6px solid $dark-gray;
       margin-top: 200px;
    }
  }
}

// start .cost_blocks

.cost_blocks{
  padding-top: 80px;
  @include border-radius();

  .cost_block{
    @include border-radius();
    background-color: $light-gray;
    width: 300px;
    height: 300px;
    color: white;
    text-align: center;
  }

  h2{
    color: white;
    font-size: 20px;
    padding-top: 20px;
  }

  .amount{
    font-size: 60px;
    padding-top: 25px;
    font-weight: $font-light;
    border-bottom: 10px solid white;
    display: inline-block;
  }


  .info{
    font-size: 15px;
    font-weight: $font-light;
    padding: 15px;
  }
  
  ul{
    list-style-type: none;
  }

  .last_cost_block{
    // background-color: red;
    width: 200px;
    margin: 0 auto;
    height: 75px;

    .title{
      font-size: 13px;
      // background-color: pink;
      margin-bottom: 0;
      padding-top: 30px;
    }

    .amount{
      font-size: 35px;
      // background-color: blue;
      padding-top: 0;
      border-bottom: none;
      font-weight: $font-light;
    }
  
    .title_deals{
      font-size: 22px;
      padding-top: 25px;
      font-weight: $font-light;
    }

    img{
      height: 32px;
      width: 32px;
    }
  }
}

footer{
  background-color: $dark-gray;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 42px;
}

.footer_title{
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
  color: $light-gray;
}



// p{
//   color: red;
//   &.hello{
//     font-size: 30px;
//   }
//   &.bye{
//     font-size: 18px;
//   }
// }



// p{
//   color: red;
// }

// p.hello{
//   font-size: 30px;
// }

// p.bye{
//   font-size: 18px;
// }














